<div ng-include="config.route + '/views/header.html'"></div>
<div ng-include="config.route + '/views/smallStartMenu.html'"></div>
<div class="mainContent">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					O projekcie
				</h3>
			</div>
			<div class="panel-body">
			Projekt jest pracą licencjacką autorstwa Wojciecha Barana. Uniwersytet Pedagogiczny w Krakowie.            	
			</div>
		</div>	
	</div>
</div>
<div ng-include="config.route + '/views/footer.html'"></div>