<div ng-include="config.route + '/views/header.html'"></div>
<div ng-include="config.route + '/views/userBar.html'"></div>
<div ng-if="tab!='start'" ng-include="config.route + '/views/smallMenu.html'"></div>
<div class="adm">
    <!-- start -->
    <div class="row text-center" ng-show="tab=='start'">
        <h1>Panel Administracyjny</h1>
    </div>
    <div class="admMainMenu row" ng-show="tab=='start'">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Konferencje</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('newProject')">Nowa konferencja</a></li>
                        <li><a ng-click="setTab('listProject')">Lista konferencji</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Użytkownicy</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('listUser')">Lista użytkowników</a></li>
                        <li><a ng-click="setTab('newUser')">Dodaj użytkownika</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodatki</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('guest')">Goście</a></li>
                        <li><a ng-click="setTab('places')">Miejsca</a></li>
                        <li><a ng-click="setTab('dev')">Podwykonawcy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ustawienia</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('listAdmin')">Administratorzy</a></li>
                        <li><a ng-click="setTab('addAdmin')">Dodaj Administratora</a></li>
                        <li><a ng-click="setTab('basicData')">Podstawowe dane</a></li>
                        <li><a ng-click="setTab('lang')">Opcje językowe</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- elements -->
    <div class="elements row" ng-show="tab!='start'">
        <!-- Nowa Konferencja -->
        <div class="col-md-12" ng-show="tab=='newProject'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nowa Konferencja</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="newProject.error" class="alert alert-danger">{{newProject.error}}</div>
                    <div ng-show="newProject.success" class="alert alert-success">{{newProject.success}}</div>
                    <form name="newProject" ng-submit="newProjectS()" role="form">
                        <div class="form-group">
                            <label for="name">Nazwa projektu</label>
                            <input type="text" name="name" id="name" class="form-control" ng-model="newProject.projectName" required/>
                        </div>
                        <div class="form-actions">
                            <button type="submit" ng-disabled="newProject.$invalid || dataLoading" class="btn btn-primary">Utwórz</button>
                            <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Lista konferencji -->
        <div class="col-md-12" ng-show="tab=='listProject'" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista konferencji</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr><th>Lp.</th><th>Nazwa</th><th>Data rozpoczęcia</th><th>Status</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in listProject">
                                <td>{{ $index + 1 }}.</td><td>{{ project.name }}</td><td>{{ project.startDate }}</td><td>{{ project.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Lista użytkowników -->
        <div class="col-md-12" ng-show="tab=='listUser'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista użytkowników</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
        <!-- Dodaj użytkownika -->
        <div class="col-md-12" ng-show="tab=='newUser'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj użytkownika</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
        <!-- Goście -->
        <div class="col-md-12" ng-show="tab=='guest'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Goście</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
        <!-- Miejsca -->
        <div class="col-md-12" ng-show="tab=='places'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Miejsca</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
        <!-- Podwykonawcy -->
        <div class="col-md-12" ng-show="tab=='dev'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Podwykonawcy</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
        <!-- Administratorzy -->
        <div class="col-md-12" ng-show="tab=='listAdmin'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Administratorzy</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
        <!-- Dodaj Administratora -->
        <div class="col-md-12" ng-show="tab=='addAdmin'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj Administratora</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
        <!-- Podstawowe dane -->
        <div class="col-md-12" ng-show="tab=='basicData'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Podstawowe dane</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
        <!-- Opcje językowe -->
        <div class="col-md-12" ng-show="tab=='lang'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Opcje językowe</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="config.route + '/views/footer.html'"></div>