<div ng-include="config.route + '/views/header.html'"></div>
<div ng-if="tab!='start'" ng-include="config.route + '/views/smallMenu.html'"></div>
<div class="adm">
    <!-- start -->
    <div class="row text-center" ng-show="tab=='start'">
        <h1>Panel Administracyjny</h1>
    </div>
    <div class="admMainMenu row" ng-show="tab=='start'">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Konferencje</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('listProject')">Lista konferencji</a></li>
                        <li><a ng-click="setTab('newProject')">Nowa konferencja</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Użytkownicy</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('listUser')">Lista użytkowników</a></li>
                        <li><a ng-click="setTab('newUser')">Dodaj użytkownika</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodatki</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('guest')">Lista Gości</a></li>
                        <li><a ng-click="setTab('lecturer')">Lista Wykładowców</a></li>
                        <li><a ng-click="setTab('newLecturer')">Dodaj Wykładowcę</a></li>
                        <li><a ng-click="setTab('contractors')">Lista podwykonawców</a></li>
                        <li><a ng-click="setTab('newContractor')">Dodaj podwykonawę</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ustawienia</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('listAdmin')">Lista Administratorów</a></li>
                        <li><a ng-click="setTab('basicData')">Podstawowe dane</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- elements -->
    <div class="elements row" ng-show="tab!='start'">
        <!-- Nowa Konferencja -->
        <div class="col-md-12" ng-show="tab=='newProject'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nowa Konferencja</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="newProject.error" class="alert alert-danger">{{newProject.error}}</div>
                    <div ng-show="newProject.success" class="alert alert-success">{{newProject.success}}</div>
                    <form name="newProject" ng-submit="newProjectS()" role="form">
                        <div class="form-group">
                            <label for="name">Nazwa projektu</label>
                            <input type="text" name="name" id="name" class="form-control" ng-model="newProject.projectName" required/>
                        </div>
                        <div class="form-actions">
                            <button type="submit" ng-disabled="newProject.$invalid || dataLoading" class="btn btn-primary">Utwórz</button>
                            <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Lista konferencji -->
        <div class="col-md-12" ng-show="tab=='listProject'" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista konferencji</h3>
                </div>
                <div class="panel-body">
                    <div ng-tab tab="listProject" cols="listProjectCols" limit="10" callback-fn="editProject(id)"></div>
                </div>
            </div>
        </div>
        <!-- Lista użytkowników -->
        <div class="col-md-12" ng-show="tab=='listUser'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista użytkowników</h3>
                </div>
                <div class="panel-body">
                    <div ng-tab tab="listUsers" cols="listUsersCols" limit="10" callback-fn="editUser(id)"></div>
                </div>
            </div>
        </div>
        <!-- Dodaj użytkownika -->
        <div class="col-md-12" ng-show="tab=='newUser'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj użytkownika</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="newUserD.error" class="alert alert-danger">{{newUserD.error }}</div>
                    <div ng-show="newUserD.success" class="alert alert-success">{{newUserD.success }}</div>
                    <form name="form" ng-submit="newUserS()" role="form" ng-init="newUserD['type']='register'; newUserD.data['password']=''; newUserD.data['passwordrep']=''; newUserD.data['userType']='user'">
                        <div class="form-group">
                            <label for="username">Login</label>
                            <input type="text" name="username" id="username" class="form-control" ng-model="newUserD.data['username']" required/>
                            <span class="help-block">Pole wymagane</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Hasło</label>
                            <a ng-click="generatePassword('newUserD')">Generuj hasło</a>
                            <span class="help-block" ng-show="newUserD.showPass">Wygenerowane hasło: {{ newUserD.data['passwordrep'] }}</span>
                            <input type="password" name="password" id="password" class="form-control" ng-model="newUserD.data['password']" required/>
                            <span class="help-block">Pole wymagane</span>
                        </div>
                        <div class="form-group">
                            <label for="passwordrep">Powtórz hasło</label>
                            <input type="password" name="passwordrep" id="passwordrep" class="form-control" ng-model="newUserD.data['passwordrep']" required/>
                            <span class="help-block">Pole wymagane</span>
                        </div>
                        <div ng-repeat="userDataFild in config.userDataFilds" class="form-group">
                            <label for="{{ userDataFild.name }}">{{ userDataFild.label }}</label>
                            <input type="text" name="{{ userDataFild.name }}" id="{{ userDataFild.name }}" class="form-control" ng-model="newUserD.data[userDataFild.name]" ng-required="userDataFild.required"/>
                            <span ng-show="userDataFild.required" class="help-block">Pole wymagane</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Dodaj użytkownika</button>
                            <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Podwykonawcy -->
        <div class="col-md-12" ng-show="tab=='contractors'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Podwykonawcy</h3>
                </div>
                <div class="panel-body">
                    <div ng-tab tab="listContractors" cols="contractorsCols" limit="10" callback-fn="editContractor(id)"></div>
                </div>
            </div>
        </div>
        <!-- dodaj Podwykonawe -->
        <div class="col-md-12" ng-show="tab=='newContractor'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj nowego podwykonawę</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="newContractorD.error" class="alert alert-danger">{{newContractorD.error}}</div>
                    <div ng-show="newContractorD.success" class="alert alert-success">{{newContractorD.success}}</div>
                    <form name="newContractor" ng-submit="newContractorS()" role="form" class="col-md-6 col-md-offset-1" ng-init="newContractorD['type']='contractor'">
                        <div class="form-group col-md-12">
                            <label for="name">Nazwa</label>
                            <input type="text" name="name" id="name" class="form-control" ng-model="newContractorD.contractorname" required/>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="servicetype">Typ</label>
                            <select name="servicetype" id="servicetype" class="form-control" ng-model="newContractorD.servicetype" required>
                                <option>Sala konferencyjna</option>
                                <option>Catering</option>
                                <option>Obsługa Audiowizualna</option>
                                <option>Inne</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="description">Opis</label>
                            <textarea name="description" id="description" class="form-control" rows="3" ng-model="newContractorD.contractordescription"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="street">Ulica i numer</label>
                            <input type="text" name="street" id="street" class="form-control" ng-model="newContractorD.street" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="kode">Kod Pocztowy</label>
                            <input type="text" name="kode" id="kode" class="form-control" ng-model="newContractorD.kode" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="city">Miejscowość</label>
                            <input type="text" name="city" id="city" class="form-control" ng-model="newContractorD.city" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nip">NIP</label>
                            <input type="text" name="nip" id="nip" class="form-control" ng-model="newContractorD.nip" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="regon">REGON</label>
                            <input type="text" name="regon" id="regon" class="form-control" ng-model="newContractorD.regon" />
                        </div>
                        <div class="form-actions">
                            <button type="submit" ng-disabled="newContractor.$invalid || dataLoading" class="btn btn-primary">Utwórz</button>
                            <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Administratorzy -->
        <div class="col-md-12" ng-show="tab=='listAdmin'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Administratorzy</h3>
                </div>
                <div class="panel-body">
                    <div ng-tab tab="listAdmins" cols="listUsersCols" limit="10" callback-fn="editUser(id)"></div>
                </div>
            </div>
        </div>
        <!-- Podstawowe dane -->
        <div class="col-md-12" ng-show="tab=='basicData'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Podstawowe dane</h3>
                </div>
                <div class="panel-body">
                    blablabla
                </div>
            </div>
        </div>

        <!-- Edycja użytkownika -->
        <div class="col-md-12" ng-if="tab=='editUser'" ng-include="config.route + '/views/userEdit.html'"></div>
        <!-- Edycja projektu -->
        <div class="col-md-12" ng-if="tab=='editProject'" ng-include="config.route + '/views/projectEdit.html'"></div>
        <!-- Edycja sesji -->
        <div class="col-md-12" ng-if="tab=='editSession'">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h3 class="panel-title">Konferencja: {{ singleProject[0].name }} -> Sesja {{ singleProject[0].sessions[projectEditSessionId].number }}: {{ singleProject[0].sessions[projectEditSessionId].name }}<a ng-click="setTab('editProject')"><span class="pull-right glyphicon glyphicon-remove"></span></a></h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" ng-class="(sessionTab=='start' || !sessionTab)? 'active' : ''">
                                <a ng-click="setTabEdit('start','sessionTab')">Etykieta</a>
                            </li>
                            <li role="presentation" ng-class="sessionTab=='description' ? 'active' : ''">
                                <a ng-click="setTabEdit('description','sessionTab')">Edytuj dane</a>
                            </li>
                            <li role="presentation" ng-class="sessionTab=='blocks' ? 'active' : ''">
                                <a ng-click="setTabEdit('blocks','sessionTab')">Dodaj Blok</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="panel panel-default"  ng-show="sessionTab=='start' || !sessionTab">
                            <div class="panel-body">
                                <h3>Konferencja: {{ singleProject[0].title[defaultLanguage] }}</h3>
                                <h4>Sesja: {{ singleProject[0].sessions[projectEditSessionId].number }} : {{ singleProject[0].sessions[projectEditSessionId].name }}</h4>
                                <p>Organizatorzy:</p>
                                <div >
                                    <p>Sala</p>
                                    <p>Data</p>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                Godzina<br/>
                                                Wykładowca, temat

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default"  ng-show="sessionTab=='description'">
                            <div class="panel-body">
                                <div ng-show="editSessionDescription.error" class="alert alert-danger">{{editSessionDescription.error | translate}}</div>
                                <div ng-show="editSessionDescription.success" class="alert alert-success">{{editSessionDescription.success | translate}}</div>
                                <form name="editSessionDescriptionform" ng-submit="editSessionUpdateS('editSessionDescription',projectEditSessionId)" role="form">
                                    <div class="form-group">
                                        <label for="number">{{ 'Numer sesji' | translate }}</label>
                                        <input type="text" name="number" id="number" class="form-control" ng-model="singleProject[0].sessions[projectEditSessionId].number" disabled="true" />
                                    </div>
                                    <div class="form-group">
                                    <label for="name">{{ 'Nazwa sesji' | translate }}</label>
                                        <input type="text" name="name" id="name" class="form-control" ng-model="singleProject[0].sessions[projectEditSessionId].name" />
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" ng-disabled="dataLoading" class="btn btn-primary">{{ 'Zmień' | translate }}</button>
                                        <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="panel panel-default"  ng-show="sessionTab=='blocks'">
                            <div class="panel-body">
                                <div ng-show="addSessionsBlock.error" class="alert alert-danger">{{addSessionsBlock.error | translate}}</div>
                                <div ng-show="addSessionsBlock.success" class="alert alert-success">{{addSessionsBlock.success | translate}}</div>
                                <form name="addSessionsBlockform" ng-submit="addSessionsBlockS('addSessionsBlock',projectEditSessionId)" role="form">
                                    <h3>{{ 'Podstawowe informacje' | translate }}</h3>
                                    <div class="col-md-6" >
                                        <div class="col-md-4">
                                            {{ 'Dzień' | translate }}: <span ng-calendar inp="singleProject[0].sessions[projectEditSessionId].blocks[blockId].day"></span>
                                        </div>
                                        <div class="col-md-8" >
                                            <input type="text" name="day" id="day" class="form-control" ng-model="singleProject[0].sessions[projectEditSessionId].blocks[blockId].day" disable="true"/>
                                        </div>
                                        <div class="col-md-4">
                                            {{ 'Sala' | translate }}: 
                                        </div>
                                        <div class="col-md-8" >
                                            <input type="text" name="room" id="room" class="form-control" ng-model="singleProject[0].sessions[projectEditSessionId].blocks[blockId].room" />
                                        </div>
                                        <div class="col-md-4">
                                            {{ 'Prowadzący' | translate }}:
                                        </div>
                                        <div class="col-md-8" >
                                            <input type="text" name="chair" id="chair" class="form-control" ng-model="singleProject[0].sessions[projectEditSessionId].blocks[blockId].chair" disable="true"/>
                                        </div>
                                        <div class="col-md-4">
                                            {{ 'Godzina rozpoczęcia' | translate }}
                                        </div>
                                        <div class="col-md-8" >
                                            <span ng-time hours="singleProject[0].sessions[projectEditSessionId].blocks[blockId].startHour" minutes="singleProject[0].sessions[projectEditSessionId].blocks[blockId].startMinute"></span>
                                        </div>
                                    </div>
                                    <div class="row"></div>
                                    <h3>{{ 'Plan' | translate }}:</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2">{{ 'Czas trwania (minuty)' | translate }}</th>
                                                <th class="col-md-4">{{ 'Typ' | translate }}</th>
                                                <th class="col-md-7">{{ 'Wykład' | translate }}</th>
                                                <th class="col-md-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="lecture in singleProject[0].sessions[projectEditSessionId].blocks[blockId].lectures">
                                                <td>{{ lecture.duration }}</td>
                                                <td>{{ lecture.lectureType | translate }}</td>
                                                <td>{{ lecture.articleId }}</td>
                                                <td></td>
                                            </tr>
                                            <tr class="info">
                                                <td>
                                                    <input type="text" name="duration" id="duration" class="form-control" ng-model="addSessionsPlan.duration" />
                                                </td>
                                                <td>
                                                    <select name="lectureType" id="lectureType" class="form-control" ng-model="addSessionsPlan.lectureType">
                                                        <option value="Wykład">{{ 'Wykład' | translate }}</option>
                                                        <option value="Dyskusja">{{ 'Dyskusja' | translate }}</option>
                                                        <option value="Przerwa">{{ 'Przerwa' | translate }}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div ng-if="addSessionsPlan.lectureType=='Wykład'">
                                                        <input type="text" name="lecture" id="lecture" class="form-control col-md-12" ng-model="addSessionsPlanlectureshow" disabled="true" style="width: 90%;"/>
                                                        <span ng-autocomplite from="projectUsersList" to="addSessionsPlan.lecture" show="addSessionsPlanlectureshow"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span ng-click="addSessionsPlanS()" class="glyphicon glyphicon-plus"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="addSessionsPlan.error" class="alert alert-danger">{{addSessionsPlan.error | translate}}</div>


                                    <div class="form-actions">
                                        <button type="submit" ng-disabled="dataLoading" class="btn btn-primary">{{ 'Dodaj blok' | translate }}</button>
                                        <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
        <!-- Edycja podwykonawcy -->
        <div class="col-md-12" ng-if="tab=='editContractor'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edycja Podwykonawcy: {{ singleContractor[0].name }} (id:{{ singleContractor[0].id }})<a ng-click="setTab('contractors')"><span class="pull-right glyphicon glyphicon-remove"></span></a></h3>
                </div>
                <div class="panel-body">
                    <div class=" col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Etykietka</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>Id</td>
                                        <td>{{ singleContractor[0].id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Typ</td>
                                        <td>
                                            {{ singleContractor[0].servicetype }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Opis</td>
                                        <td>{{ singleContractor[0].description }}</td>
                                    </tr>
                                    <tr>
                                        <td>Adres</td>
                                        <td>{{ singleContractor[0].street }}, {{ singleContractor[0].kode }} {{ singleContractor[0].city }}</td>
                                    </tr>
                                    <tr>
                                        <td>NIP</td>
                                        <td>{{ singleContractor[0].nip }}</td>
                                    </tr>
                                    <tr>
                                        <td>REGON</td>
                                        <td>{{ singleContractor[0].regon }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        Jakieś opcje
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="config.route + '/views/footer.html'"></div>