<span class="glyphicon glyphicon-search" ng-click="showList()"></span>
<div ng-if="listOn">
    <div class="panel panel-default autocomplite-list">
        <div class="panel-heading">
            <div class="panel-title">
                <span>{{ 'Znajdź' | translate }}:<input type="text" ng-model="searchText"/></span>
                <span ng-click="hideList()" class="pull-right glyphicon glyphicon-remove"></span>
            </div>
        </div>
        <div class="panel-body">
        	<ul>
        		<li ng-repeat="user in from | filter:searchText">
        				<span class="row" ng-click="chosse(user.id,user.name+' '+user.surname)">{{ user.name }} {{ user.surname }}</span>
        			</span>

        		</li>
        	</ul>
        </div>
    </div>
</div>
