<span ng-click="showCal()" class="glyphicon glyphicon-calendar showCal"></span>
<div ng-if="calOn">
    <div class="panel panel-default calendarbox">
        <div class="panel-heading">
            <div class="panel-title">
                <span ng-click="prevM()" class="pull-left glyphicon glyphicon-triangle-left"></span>
                <span>{{ months[date.month-1] | translate }} {{ date.year}} </span>
                <span ng-click="hideCal()" class="pull-right glyphicon glyphicon-remove"></span>
                <span ng-click="nextM()" class="pull-right glyphicon glyphicon-triangle-right"></span>
            </div>
        </div>
        <div class="panel-body panel-daybox">
            <div class="daybox" ng-repeat="day in dayOfWeek">
                <span class="singleDay  {{ day.t }}">{{ day.day | translate }}</span>
            </div>
            <div class="daybox" ng-repeat="day in date.cal">
                <span class="singleDay {{ day.t }}"><a ng-click="setDate(day.day)">{{ day.day | translate }}</a></span>
            </div>
        </div>
    </div>
</div>