<div ng-include="config.route + '/views/header.html'"></div>
<div ng-include="config.route + '/views/smallStartMenu.html'"></div>
<div class="mainContent">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{'Konferencja' | translate }}: {{ singleProject[0].title[defaultLanguage] }}
				</h3>
			</div>
			<div class="panel-body">
			<h3>{{ 'Termin' | translate }}:</h3>
				<span ng-if="singleProject[0].startDate==singleProject[0].endDate">
                    {{ singleProject[0].startDate | date:'dd/MM/yyyy' }}
                </span>
                <span ng-if="singleProject[0].startDate!=singleProject[0].endDate">
                    {{ singleProject[0].startDate | date:'dd/MM/yyyy' }} - {{ singleProject[0].endDate | date:'dd/MM/yyyy' }}
                </span>
            <h3>{{ 'Opis' | translate }}:</h3>
            	{{ singleProject[0].description[defaultLanguage] }}
            <h3>{{ 'Miejsce' | translate }}:</h3>
				{{ singleProject[0].place.name }}<br/>
				{{ singleProject[0].place.street }} <br/>
				{{ singleProject[0].place.kode }} {{ singleProject[0].place.city }}
			<h3>{{ 'Plan' | translate }}:</h3>
            	{{ singleProject[0].plan[defaultLanguage] }}
            	
			</div>
		</div>	
	</div>
</div>
<div ng-include="config.route + '/views/footer.html'"></div>