<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edycja projektu: {{ singleProject[0].name }} (id:{{ singleProject[0].id }}) Status: {{ config.projectStatus[singleProject[0].projectStatus].label }}<a ng-click="setTab('listProject')"><span class="pull-right glyphicon glyphicon-remove"></span></a></h3>
    </div>
    <div class="panel-body">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-class="(projectTab=='start' || projectTab=='')? 'active' : ''">
                    <a ng-click="setTabEdit('start','projectTab')">Etykieta</a>
                </li>
                <li role="presentation" ng-class="projectTab=='description' ? 'active' : ''">
                    <a ng-click="setTabEdit('description','projectTab')">Tytuł i Opis</a>
                </li>
                <li role="presentation" ng-class="projectTab=='dates' ? 'active' : ''">
                    <a ng-click="setTabEdit('dates','projectTab')">Daty</a>
                </li>
                <li role="presentation" ng-class="projectTab=='place' ? 'active' : ''">
                    <a ng-click="setTabEdit('place','projectTab')">Miejsce</a>
                </li>
                <li role="presentation" ng-class="projectTab=='plan' ? 'active' : ''">
                    <a ng-click="setTabEdit('plan','projectTab')">Plan</a>
                </li>
                <li role="presentation" ng-class="projectTab=='guest' ? 'active' : ''">
                    <a ng-click="setTabEdit('guest','projectTab')">Goście</a>
                </li>
                <li role="presentation" ng-class="projectTab=='sponsors' ? 'active' : ''">
                    <a ng-click="setTabEdit('sponsors','projectTab')">Sponsorzy</a>
                </li>
                <li role="presentation" ng-class="projectTab=='extra' ? 'active' : ''">
                    <a ng-click="setTabEdit('extra','projectTab')">Extra</a>
                </li>
                <li role="presentation" ng-class="projectTab=='status' ? 'active' : ''">
                    <a ng-click="setTabEdit('status','projectTab')">Status</a>
                </li>
                <li role="presentation" ng-class="projectTab=='bilans' ? 'active' : ''">
                    <a ng-click="setTabEdit('bilans','projectTab')">Bilans</a>
                </li>
                <li role="presentation" ng-class="projectTab=='users' ? 'active' : ''">
                    <a ng-click="setTabEdit('users','projectTab')">Uczestnicy</a>
                </li>
                <li role="presentation" ng-class="projectTab=='print' ? 'active' : ''">
                    <a ng-click="setTabEdit('print','projectTab')">Wydruki</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default"  ng-show="projectTab=='start'">
                <div class="panel-body">
                    <p>Podsumowanie:</p>
                    <table class="table">
                        <tr>
                            <td>Id</td>
                            <td>{{ singleProject[0].id }}</td>
                        </tr>
                        <tr>
                            <td>Nazwa</td>
                            <td>{{ singleProject[0].name }}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{ config.projectStatus[singleProject[0].projectStatus].label }}</td>
                        </tr>
                        <tr>
                            <td>Termin</td>
                            <td>
                                <span ng-if="singleProject[0].startDate">
                                    <span ng-if="singleProject[0].startDate==singleProject[0].endDate">
                                        {{ singleProject[0].startDate | date:'dd/MM/yyyy' }}
                                    </span>
                                    <span ng-if="singleProject[0].startDate!=singleProject[0].endDate">
                                        {{ singleProject[0].startDate | date:'dd/MM/yyyy' }} - {{ singleProject[0].endDate | date:'dd/MM/yyyy' }}
                                    </span>
                                </span>
                                <span ng-if="!singleProject[0].startDate" class="alert-danger">Brak daty!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Tytuł</td>
                            <td>
                                <span ng-if="singleProject[0].title">{{ singleProject[0].title.pl }}</span>
                                <span ng-if="!singleProject[0].title" class="alert-danger">Brak tytułu!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Opis</td>
                            <td>
                                <span ng-if="singleProject[0].description">Dodano</span>
                                <span ng-if="!singleProject[0].description" class="alert-warning">Brak opisu!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Miejsce</td>
                            <td>
                                <span ng-if="singleProject[0].place.name">{{ singleProject[0].place.name }}</span>
                                <span ng-if="!singleProject[0].place.name" class="alert-danger">Brak miejsca!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Plan</td>
                            <td>
                                <span ng-if="singleProject[0].plan">Dodano</span>
                                <span ng-if="!singleProject[0].plan" class="alert-danger">Brak planu!</span>
                            </td>
                        </tr>
                    </table>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('description','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='description'">
                <div class="panel-body">
                    <div ng-multilang itype="text" flabel="Tytuł" fname="title" val="singleProject[0].title" fid="singleProject[0].id"></div>
                    <hr/>
                    <div ng-multilang itype="textarea" flabel="Opis" fname="description" val="singleProject[0].description" fid="singleProject[0].id"></div>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('dates','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='dates'">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div ng-show="setDateD.error" class="alert alert-danger">{{setDateD.error}}</div>
                            <div ng-show="setDateD.success" class="alert alert-success">{{setDateD.success}}</div>
                            <form role="form" ng-submit="setDate()">
                                <div class="form-group">
                                    <label for="startDate">Data rozpoczęcia <span ng-calendar inp="singleProject[0].startDate"></span></label>
                                    <input type="text" name="startDate" id="startDate" class="form-control" ng-model="singleProject[0].startDate" disabled />
                                </div>
                                <div class="form-group">
                                    <label for="endDate">Data zakończenia <span ng-calendar inp="singleProject[0].endDate"></span></label>
                                    <input type="text" name="endDate" id="endDate" class="form-control" ng-model="singleProject[0].endDate" disabled />
                                </div>
                                <div class="form-actions">
                                    <button type="submit" ng-disabled="formMl.$invalid || dataLoading" class="btn btn-primary">Zmień</button>
                                    <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                                </div>
                            </form>
                        </div>
                        <p class="col-md-offset-1">Do ustawienia daty użyj kalendarza <span class="glyphicon glyphicon-calendar"></span></p>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('place','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='place'">
                <div class="panel-body">
                    <h4 ng-if="singleProject[0].place.name">Miejsce: {{ singleProject[0].place.name }}</h4>
                    <h4 ng-if="!singleProject[0].place.name">Miejsce: Brak miejsca!</h4>
                    <div class="row">
                        <div ng-show="setPlaceD.error" class="alert alert-danger">{{setPlaceD.error}}</div>
                        <div ng-show="setPlaceD.success" class="alert alert-success">{{setPlaceD.success}}</div>
                        <form name="setPlace" ng-submit="setPlaceS()" role="form" class="col-md-8 col-md-offset-1">
                            <div class="form-group col-md-12">
                                <label for="name">Nazwa</label>
                                <input type="text" name="name" id="name" class="form-control" ng-model="singleProject[0].place.name" required/>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description">Opis ogólny</label>
                                <textarea name="description" id="description" class="form-control" rows="3" ng-model="singleProject[0].place.description"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="street">Ulica i numer</label>
                                <input type="text" name="street" id="street" class="form-control" ng-model="singleProject[0].place.street" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="kode">Kod Pocztowy</label>
                                <input type="text" name="kode" id="kode" class="form-control" ng-model="singleProject[0].place.kode" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="city">Miejscowość</label>
                                <input type="text" name="city" id="city" class="form-control" ng-model="singleProject[0].place.city" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nip">NIP</label>
                                <input type="text" name="nip" id="nip" class="form-control" ng-model="singleProject[0].place.nip" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="regon">REGON</label>
                                <input type="text" name="regon" id="regon" class="form-control" ng-model="singleProject[0].place.regon" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description">Informacje dodatkowe</label>
                                <textarea name="extra" id="extra" class="form-control" rows="3" ng-model="singleProject[0].place.extra"></textarea>
                            </div>
                            <div class="form-actions col-md-12">
                                <button type="submit" ng-disabled="setPlace.$invalid || dataLoading" class="btn btn-primary">Zapisz</button>
                                <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                            </div>
                        </form>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('plan','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='plan'">
                <div class="panel-body">
                    <div ng-multilang itype="textarea" flabel="Plan" fname="plan" val="singleProject[0].plan" fid="singleProject[0].id"></div>
                    <hr/>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('guest','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='guest'">
                <div class="panel-body">
                    guest
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('sponsors','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='sponsors'">
                <div class="panel-body">
                    sponsors
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('extra','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='extra'">
                <div class="panel-body">
                    extra
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('status','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='status'">
                <div class="panel-body">
                    <div ng-show="setStatus.message" class="alert alert-success">{{ setStatus.message }}</div>
                    Obecny status: {{ config.projectStatus[singleProject[0].projectStatus].label  }}
                    <hr/>
                    Zmień status na:
                    <ul>
                        <li ng-repeat="status in config.projectStatus">
                            <a ng-click="setStatus(singleProject[0].id,status.id)">{{ status.label }}</a>
                        </li>
                    </ul>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('bilans','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='bilans'">
                <div class="panel-body">
                    bilans
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('users','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='users'">
                <div class="panel-body">
                    Uczestnicy
                    <hr/>
                    <div ng-tab tab="projectUsersList" cols="listUsersCols" limit="10" callback-fn="editUser(id)"></div>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('print','projectTab')">Dalej <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='print'">
                <div class="panel-body">
                    print
                </div>
            </div>
        </div>
    </div>
</div>