<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Edycja projektu' | translate }}: {{ singleProject[0].name }} (id:{{ singleProject[0].id }}) {{ 'Status' | translate }}: {{ config.projectStatus[singleProject[0].projectStatus].label | translate }}<a ng-click="setTab('listProject')"><span class="pull-right glyphicon glyphicon-remove"></span></a></h3>
    </div>
    <div class="panel-body">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-class="(projectTab=='start' || projectTab=='')? 'active' : ''">
                    <a ng-click="setTabEdit('start','projectTab')">{{ 'Etykieta' | translate }}</a>
                </li>
                <li role="presentation" ng-class="projectTab=='description' ? 'active' : ''">
                    <a ng-click="setTabEdit('description','projectTab')">{{ 'Tytuł i Opis' | translate }}</a>
                </li>
                <li role="presentation" ng-class="projectTab=='dates' ? 'active' : ''">
                    <a ng-click="setTabEdit('dates','projectTab')">{{ 'Daty' | translate }}</a>
                </li>
                <li role="presentation" ng-class="projectTab=='place' ? 'active' : ''">
                    <a ng-click="setTabEdit('place','projectTab')">{{ 'Miejsce' | translate }}</a>
                </li>
                <li role="presentation" ng-class="projectTab=='sessions' ? 'active' : ''">
                    <a ng-click="setTabEdit('sessions','projectTab')">{{ 'Sesje' | translate }}</a>
                </li>
                <li role="presentation" ng-class="projectTab=='status' ? 'active' : ''">
                    <a ng-click="setTabEdit('status','projectTab')">{{ 'Status' | translate }}</a>
                </li>
                <li role="presentation" ng-class="projectTab=='users' ? 'active' : ''">
                    <a ng-click="setTabEdit('users','projectTab')">{{ 'Uczestnicy' | translate }}</a>
                </li>
                <li role="presentation" ng-class="projectTab=='print' ? 'active' : ''">
                    <a ng-click="setTabEdit('print','projectTab')">{{ 'Wydruki' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default"  ng-show="projectTab=='start'">
                <div class="panel-body">
                    <p>{{ 'Podsumowanie' | translate }}:</p>
                    <table class="table">
                        <tr>
                            <td>Id</td>
                            <td>{{ singleProject[0].id }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'Nazwa' | translate }}</td>
                            <td>{{ singleProject[0].name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'Status' | translate }}</td>
                            <td>{{ config.projectStatus[singleProject[0].projectStatus].label | translate }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'Termin' | translate }}</td>
                            <td>
                                <span ng-if="singleProject[0].startDate">
                                    <span ng-if="singleProject[0].startDate==singleProject[0].endDate">
                                        {{ singleProject[0].startDate | date:'dd/MM/yyyy' }}
                                    </span>
                                    <span ng-if="singleProject[0].startDate!=singleProject[0].endDate">
                                        {{ singleProject[0].startDate | date:'dd/MM/yyyy' }} - {{ singleProject[0].endDate | date:'dd/MM/yyyy' }}
                                    </span>
                                </span>
                                <span ng-if="!singleProject[0].startDate" class="alert-danger">{{ 'Brak daty' | translate }}!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Data zakończenia zapisów' | translate }}</td>
                            <td>
                                <span ng-if="singleProject[0].endDateUser">{{ singleProject[0].endDateUser | date:'dd/MM/yyyy' }}</span>
                                <span ng-if="!singleProject[0].endDateUser" class="alert-danger">{{ 'Brak daty' | translate }}!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Tytuł' | translate }}</td>
                            <td>
                                <span ng-if="singleProject[0].title">{{ singleProject[0].title.pl }}</span>
                                <span ng-if="!singleProject[0].title" class="alert-danger">{{ 'Brak tytułu' | translate }}!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Opis' | translate }}</td>
                            <td>
                                <span ng-if="singleProject[0].description">{{ 'Dodano' | translate }}</span>
                                <span ng-if="!singleProject[0].description" class="alert-warning">{{ 'Brak opisu' | translate }}!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Miejsce' | translate }}</td>
                            <td>
                                <span ng-if="singleProject[0].place.name">{{ singleProject[0].place.name }}</span>
                                <span ng-if="!singleProject[0].place.name" class="alert-danger">{{ 'Brak miejsca' | translate }}!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Sesje' | translate }}</td>
                            <td>
                                <span ng-if="!singleProject[0].sessions" class="alert-danger">{{ 'Brak sesji' | translate }}</span>
                                <span ng-if="singleProject[0].sessions">{{ 'Ilość sesji' | translate }}: {{ singleProject[0].sessions.length }}</span>
                            </td>
                        </tr>
                    </table>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('description','projectTab')">{{ 'Dalej' | translate }} <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='description'">
                <div class="panel-body">
                    <div ng-multilang itype="text" flabel="Tytuł" fcollection="projects" fname="title" val="singleProject[0].title" fid="singleProject[0].id"></div>
                    <hr/>
                    <div ng-multilang itype="textarea" flabel="Opis" fcollection="projects" fname="description" val="singleProject[0].description" fid="singleProject[0].id"></div>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('dates','projectTab')">{{ 'Dalej' | translate }} <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='dates'">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div ng-show="setDateD.error" class="alert alert-danger">{{setDateD.error  | translate }}</div>
                            <div ng-show="setDateD.success" class="alert alert-success">{{setDateD.success  | translate }}</div>
                            <form role="form" ng-submit="setDate()">
                                <div class="form-group">
                                    <label for="startDate">{{ 'Data rozpoczęcia Konferencji' | translate }}<span ng-calendar inp="singleProject[0].startDate"></span></label>
                                    <input type="text" name="startDate" id="startDate" class="form-control" ng-model="singleProject[0].startDate" disabled />
                                </div>
                                <div class="form-group">
                                    <label for="endDate">{{ 'Data zakończenia Konferencji' | translate }}<span ng-calendar inp="singleProject[0].endDate"></span></label>
                                    <input type="text" name="endDate" id="endDate" class="form-control" ng-model="singleProject[0].endDate" disabled />
                                </div>
                                <div class="form-group">
                                    <label for="endDate">{{ 'Data zakończenia zapisów' | translate }}<span ng-calendar inp="singleProject[0].endDateUser"></span></label>
                                    <input type="text" name="endDateUser" id="endDateUser" class="form-control" ng-model="singleProject[0].endDateUser" disabled />
                                </div>
                                <div class="form-group">
                                    <label for="endDate">{{ 'Ostateczna data przesłania abstraktów' | translate }}<span ng-calendar inp="singleProject[0].endDateLecturer"></span></label>
                                    <input type="text" name="endDateLecturer" id="endDateLecturer" class="form-control" ng-model="singleProject[0].endDateLecturer" disabled />
                                </div>
                                <div class="form-actions">
                                    <button type="submit" ng-disabled="formMl.$invalid || dataLoading" class="btn btn-primary">{{ 'Zmień' | translate }}</button>
                                    <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                                </div>
                            </form>
                        </div>
                        <p class="col-md-offset-1">{{ 'Do ustawienia daty użyj kalendarza' | translate }} <span class="glyphicon glyphicon-calendar"></span></p>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('place','projectTab')">{{ 'Dalej' | translate }} <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='place'">
                <div class="panel-body">
                    <h4 ng-if="singleProject[0].place.name">{{ 'Miejsce' | translate }}: {{ singleProject[0].place.name }}</h4>
                    <h4 ng-if="!singleProject[0].place.name">{{ 'Miejsce' | translate }}: {{ 'Brak miejsca' | translate }}!</h4>
                    <div class="row">
                        <div ng-show="setPlaceD.error" class="alert alert-danger">{{setPlaceD.error  | translate }}</div>
                        <div ng-show="setPlaceD.success" class="alert alert-success">{{setPlaceD.success  | translate }}</div>
                        <form name="setPlace" ng-submit="setPlaceS()" role="form" class="col-md-8 col-md-offset-1">
                            <div class="form-group col-md-12">
                                <label for="name">{{ 'Nazwa' | translate }}</label>
                                <input type="text" name="name" id="name" class="form-control" ng-model="singleProject[0].place.name" required/>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description">{{ 'Opis ogólny' | translate }}</label>
                                <textarea name="description" id="description" class="form-control" rows="3" ng-model="singleProject[0].place.description"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="street">{{ 'Ulica i numer' | translate }}</label>
                                <input type="text" name="street" id="street" class="form-control" ng-model="singleProject[0].place.street" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="kode">{{ 'Kod Pocztowy' | translate }}</label>
                                <input type="text" name="kode" id="kode" class="form-control" ng-model="singleProject[0].place.kode" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="city">{{ 'Miejscowość' | translate }}</label>
                                <input type="text" name="city" id="city" class="form-control" ng-model="singleProject[0].place.city" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nip">{{ 'NIP' | translate }}</label>
                                <input type="text" name="nip" id="nip" class="form-control" ng-model="singleProject[0].place.nip" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="regon">{{ 'REGON' | translate }}</label>
                                <input type="text" name="regon" id="regon" class="form-control" ng-model="singleProject[0].place.regon" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description">{{ 'Informacje dodatkowe' | translate }}</label>
                                <textarea name="extra" id="extra" class="form-control" rows="3" ng-model="singleProject[0].place.extra"></textarea>
                            </div>
                            <div class="form-actions col-md-12">
                                <button type="submit" ng-disabled="setPlace.$invalid || dataLoading" class="btn btn-primary">{{ 'Zapisz' | translate }}</button>
                                <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                            </div>
                        </form>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('sessions','projectTab')">{{ 'Dalej' | translate }} <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='sessions'">
                <div class="panel-body" >
                    <button type="button" class="btn btn-default" ng-click="setTabEdit('addSession','projectTab')">{{ 'Dodaj nową sesję' | translate }}</button>
                    <table class="table">
                        <tr ng-repeat="session in singleProject[0].sessions">
                            <td><a ng-click="projectEditSession($index)">{{ 'Sesja' | translate }} {{ session.number }} {{ session.name[defaultLanguage] }}</a></td>
                        </tr>
                    </table>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('status','projectTab')">{{ 'Dalej' | translate }} <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='addSession'">
                <div class="panel-body" >
                    <div class="panel">
                        <div class="panel panel-heading">
                            <h3 class="panel-title">{{ 'Dodaj nową sesję' | translate }}</h3>
                        </div>
                        <div class="panel panel-body">
                            <div ng-show="addNewSessionf.error" class="alert alert-danger">{{addNewSessionf.error | translate}}</div>
                            <div ng-show="addNewSessionf.success" class="alert alert-success">{{addNewSessionf.success | translate}}</div>
                            <form name="projectAddSessionform" ng-submit="addNewSessionS()" role="form">
                                <div class="form-group">
                                    <label for="number">{{ 'Numer sesji' | translate }}</label>
                                    <input type="text" name="number" id="number" class="form-control" ng-model="addNewSession.number" disabled="true" />
                                </div>
                                <div class="form-group" ng-repeat="lang in config.languages">
                                    <label for="name">{{ 'Nazwa sesji' | translate }} [{{ lang.label | translate }}]</label>
                                    <input type="text" name="name" id="name" class="form-control" ng-model="addNewSession.name[lang.key]" required="true" />
                                </div>
                                <div class="form-group" ng-repeat="lang in config.languages">
                                    <label for="name">{{ 'Cele' | translate }} [{{ lang.label | translate }}]</label>
                                    <input type="text" name="name" id="name" class="form-control" ng-model="addNewSession.aims[lang.key]"  />
                                </div>
                                <div ng-addusers userslist="projectUsersList" to="addNewSession.organizers" label="Organizatorzy"></div>
                                <div class="form-actions">
                                    <button type="submit" ng-disabled="dataLoading" class="btn btn-primary">{{ 'Dodaj' | translate }}</button>
                                    <img ng-if="dataLoading" src="lic/images/loading.gif"  />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='status'">
                <div class="panel-body">
                    <div ng-show="setStatus.message" class="alert alert-success">{{ setStatus.message | translate}}</div>
                    {{ 'Obecny status' | translate }}: {{ config.projectStatus[singleProject[0].projectStatus].label  | translate }}
                    <hr/>
                    {{ 'Zmień status na' | translate }}:
                    <ul>
                        <li ng-repeat="status in config.projectStatus">
                            <a ng-click="setStatus(singleProject[0].id,status.id)">{{ status.label | translate }}</a>
                        </li>
                    </ul>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('users','projectTab')">{{ 'Dalej' | translate }} <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='users'">
                <div class="panel-body">
                    {{ 'Uczestnicy' | translate }}
                    <hr/>
                    <div ng-tab tab="projectUsersList" cols="listUsersCols" limit="10" callback-fn="editUser(id)"></div>
                    <hr/>
                    <button type="button" class="btn btn-success pull-right" ng-click="setTabEdit('print','projectTab')">{{ 'Dalej' | translate }} <span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            <div class="panel panel-default"  ng-show="projectTab=='print'">
                <div class="panel-body">
                    {{ 'Wydruki' | translate }}
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>