<div class="smallMenu row btn-toolbar">
    <button type="button" class="btn btn-default" ng-click="setTab('start')">Start</button>
    <div class="btn-group">
        <button type="button" class="btn btn-default">Konferencje</button>
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-click="setTab('newProject')">Nowa konferencja</a></li>
            <li><a ng-click="setTab('listProject')">Lista konferencji</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default">Użytkownicy</button>
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-click="setTab('listUser')">Lista użytkowników</a></li>
            <li><a ng-click="setTab('newUser')">Dodaj użytkownika</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default">Dodatki</button>
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-click="setTab('guest')">Goście</a></li>
            <li><a ng-click="setTab('places')">Miejsca</a></li>
            <li><a ng-click="setTab('dev')">Podwykonawcy</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default">Ustawienia</button>
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-click="setTab('listAdmin')">Administratorzy</a></li>
            <li><a ng-click="setTab('addAdmin')">Dodaj Administratora</a></li>
            <li><a ng-click="setTab('basicData')">Podstawowe dane</a></li>
        </ul>
    </div>
</div>