<div ng-include="config.route + '/views/header.html'"></div>
<div ng-if="currentUser.id" ng-include="config.route + '/views/smallStartMenu.html'"></div>
<div class="start" ng-controller="startController">
    <div class="row text-center">
        <h1>Start</h1>
    </div>
    <div class="startMainMenu" ng-show="tab=='start'">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Nowe konferencje' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="project in newProjects">
                            <a href="{{ config.route }}/conference/{{ project.id }}">{{ project.title[defaultLanguage] }}</a>
                       </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Poprzednie konferencje' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="project in oldProjects">
                            <a href="{{ config.route }}/conference/{{ project.id }}">{{ project.title[defaultLanguage] }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Dołącz do nas' | translate }}!</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ config.route }}/login">{{'Logowanie' | translate }}</a></li>
                        <li><a href="{{ config.route }}/register">{{'Rejestracja' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Więcej' | translate }}...</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ config.route }}/about">{{'O projekcie' | translate }}</a></li>
                        <li><a href="www.up.krakow.pl" target="_blanck">{{'Strona główna UP' | translate }}</a></li>
                        <li><a href="{{ config.route }}/adm">ADM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="config.route + '/views/footer.html'"></div>