<div ng-include="config.route + '/views/header.html'"></div>
<div ng-if="currentUser.userid" ng-include="config.route + '/views/userBar.html'"></div>
<div class="start" ng-controller="startController">
    <div class="row text-center">
        <h1>Start</h1>
    </div>
    <div class="startMainMenu" ng-show="tab=='start'">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Nowe konferencje' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="project in newProjects">{{ project.title[defaultLanguage] }}</li>
                    </ul>
                    <!-- <a href="{{ config.route }}/conference">conference</a><br />
                    <a href="{{ config.route }}/conference/22">conference/22</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Poprzednie konferencje' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="project in oldProjects">{{ project.title[defaultLanguage] }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Dołącz do nas' | translate }}!</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ config.route }}/login">{{'Logowanie' | translate }}</a></li>
                        <li><a href="{{ config.route }}/register">{{'Rejestracja' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Więcej' | translate }}...</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('userData')">{{'O projekcie' | translate }}</a></li>
                        <li><a href="www.up.krakow.pl">{{'Strona główna UP' | translate }}</a></li>
                        <li><a href="{{ config.route }}/adm">ADM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="config.route + '/views/footer.html'"></div>