<div ng-include="config.route + '/views/header.html'"></div>
<div ng-if="currentUser" ng-include="config.route + '/views/userBar.html'"></div>
<div class="start">
    <div class="row text-center">
        <h1>Start</h1>
    </div>
    <div class="startMainMenu" ng-show="tab=='start'">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nowe konferencje</h3>
                </div>
                <div class="panel-body">
                    Nowe konferencje
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Poprzednie konferencje</h3>
                </div>
                <div class="panel-body">
                    Lista konferencji
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dołącz do nas!</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ config.route }}/login">Logowanie</a></li>
                        <li><a href="{{ config.route }}/register">Rejestracja</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Więcej...</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a ng-click="setTab('userData')">O projekcie</a></li>
                        <li><a href="www.up.krakow.pl">Strona główna UP</a></li>
                        <li><a href="{{ config.route }}/adm">ADM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="config.route + '/views/footer.html'"></div>