<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th ng-repeat="col in cols">
                <a ng-click="setSort(col.name)">
                {{ col.label }}
                <span ng-show="sortVal!=col.name" class="glyphicon glyphicon-sort"></span>
                <span ng-show="sortVal==col.name && !sortOrder" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="sortVal==col.name && sortOrder" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in tableData | orderBy : sortVal : sortOrder " ng-hide="($index<(currentPage*limit) || $index>=((currentPage*limit)+limit))">
            <td>{{ $index + 1 }}.</td>
            <td ng-repeat="col in cols">{{ project[col.name] }}</td>
        </tr>
    </tbody>
</table>
<div class="tableToolbar row">
    <div class="results col-md-2 ">
        <span ng-show="tableData.length>0" >Wyniki {{ (currentPage*limit)+1 }}-{{ checkPage((currentPage*limit)+limit) }} z {{tableData.length}}</span>
        <span ng-hide="empty" >Brak wyników</span>
    </div>
    <div ng-if="numberPage>1" class="pageSelect pull-right">
        <ul>
            <li><a ng-click="setPage(firstPage)"><span class="glyphicon glyphicon-step-backward"></span></a></li>
            <li><a ng-click="setPage(currentPage-1)"><span class="glyphicon glyphicon-triangle-left"></span></a></li>
            <li ng-repeat="item in getNumber(numberPage)  track by $index"><a ng-click="setPage($index)"><span>{{ $index + 1}}</span></a></li>
            <li><a ng-click="setPage(currentPage+1)"><span class="glyphicon glyphicon-triangle-right"></span></a></li>
            <li><a ng-click="setPage(lastPage)"><span class="glyphicon glyphicon-step-forward"></span></a></li>
        </ul>
    </div>
</div>