<div class="row userBar panel panel-default" ng-controller="userBarController">
    <div class="userData col-md-2">
        {{ currentUser.name }} {{ currentUser.surname }}
    </div>
    <div class="userMenu col-md-6 pull-right">
        <ul>
            <li ng-if="currentUser.userType=='admin'"><a href="/{{ config.route }}/adm">Panel Administracyjny</a></li>
            <li><a href="/{{ config.route }}/user">Moje konto</a></li>
            <li><a ng-click="logout()">Wyloguj</a></li>
        </ul>
    </div>
</div>